/*
################################################################
# ALLISON MARIE MUNN: a.css                             #
# COPYRIGHT © ALLISON MARIE MUNN                              #
# LICENSE: GPLV2 ONLY                                        #
# FULL COPYRIGHT NOTICE IS IN README                           #
# AUTHOR: ALLISON MARIE MUNN                                 #
################################################################
*/

a {
    background-color: #000000;
    color: #20A5DA;
}

a:hover{
    background-color: #000000;
    color: #1FA4D9;
}

a:active{
    background-color: #000000;
    color: #2083B8;
}

a:visited{
    background-color: #000000;
    color: #20A5DA;
}