/*
################################################################
# ALLISON MARIE MUNN: footer.css                             #
# COPYRIGHT © ALLISON MARIE MUNN                              #
# LICENSE: GPLV2 ONLY                                        #
# FULL COPYRIGHT NOTICE IS IN README                           #
# AUTHOR: ALLISON MARIE MUNN                                 #
################################################################
*/

#footer {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#footer-center {
    display: inline-block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#footer-center-copyright {
    display: block;
}