/*
################################################################
# ALLISON MARIE MUNN: form.html                             #
# COPYRIGHT © ALLISON MARIE MUNN                              #
# LICENSE: GPLV2 ONLY                                        #
# FULL COPYRIGHT NOTICE IS IN README                           #
# AUTHOR: ALLISON MARIE MUNN                                 #
################################################################
*/

.form {
  padding: 16px;
  background-color: goldenrod;
  border-radius: 24px;
}