/*
################################################################
# ALLISON MARIE MUNN: header.css                             #
# COPYRIGHT © ALLISON MARIE MUNN                              #
# LICENSE: GPLV2 ONLY                                        #
# FULL COPYRIGHT NOTICE IS IN README                           #
# AUTHOR: ALLISON MARIE MUNN                                 #
################################################################
*/

#header {
    display: block;
    color: #DAA520;
    background-color: #000000;
}

#header-left {
    display: inline-block;
}

#header-left-logo {
  border-radius: 24px;
  color: #000000;
  background-color: #FFE4C4;
  overflow: hidden;
}

#header-left-logo-name {
    display: block;
    text-align: center;
}

#header-left-logo-moto {
    display: block;
    text-align: center;
}

#header-right {
    display: block;
    float: right;
}

#header-right-menu {
    display: block;
    text-align: center;
}