/*
################################################################
# ALLISON MARIE MUNN: header.css                             #
# COPYRIGHT © ALLISON MARIE MUNN                              #
# LICENSE: GPLV2 ONLY                                        #
# FULL COPYRIGHT NOTICE IS IN README                           #
# AUTHOR: ALLISON MARIE MUNN                                 #
################################################################
*/

#header {
    display: block;
}

#header-left {
    display: inline-block;
}

#header-left-logo {
    display: block;
    text-align: center;
    color: #DAA520;
}

#header-left-moto {
    display: block;
    text-align: center;
}

#header-right {
    display: block;
    float: right;
}

#header-right-menu {
    display: block;
    text-align: center;
}